@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('nobile.ttf') format('truetype');
}

body { 
	margin: 0;
	padding: 0; 
	font-family: 'Nobile', Arial, sans-serif;
	font-size: 13px;
	background: #000000 url('../images/bg.jpg') top left repeat;
}

table {
	font-family: 'Nobile', Arial, sans-serif;
	font-size: 13px;
}

a img {
	border: none;
}

a {
		color: #666;
		outline: 0;
}

a:hover {
		color: #222;
}

a.selected {
	text-decoration: underline !important;
}

/** Layout
 */
#content {
	background-color: #f8f8f8;
	color: #666;
}

.wrapper {
		margin: 0 auto;
		width: 45%;
		clear: left;
}

.clear {
	clear: both;
}

/** Header
 */
#header { 
		height: 440px;
}

#logo {
		padding: 25px 0px;
		float: left;
		width: 300px;
}

#menu {
		background-color: green;
		display: block;
		font-size: 13px;
}

ul.navigation {
		margin-top: 45px;
		float: right;
		list-style-type: none;
}

ul.navigation li {
		float: left;
		list-style-type: none;
		line-height: 30px;
		height: 30px;
}

ul.navigation li a {
		float: left;
		margin-left: 30px;
}

h1, h2, h3, h4, h5 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 26px;
		color: #333;
}

#footer a,
#header a {
		color: #bbb;
		text-decoration: none;
}

#footer a:hover,
#header a:hover {
		color: #ddd;
}

#footer p {
		margin: 0 5px;
}

#footer {
  padding-top: 20px;
	padding-bottom: 20px;
	color: #999;
}

#footer .col1 {
	width: 470px;
	float: left;
}
#footer .col2 {
	width: 470px;
	text-align: right;
	float: left;
}

.hl {
	font-weight: bold;
	font-size: 15px;
}

.bigger {
	font-size: 120%;
}

hr {
	height: 1px;
	border: 0;
	background-color: #aaa;
}

/** contest 2014
 */

.partners,
.sponsors {
	float: right;
	width: 250px;
	margin-left: 20px;
	clear: both;
}

.partners img,
.sponsors img {
	width: 100%;
}

.contest {
	margin-right: 280px;
}

/** lightbox
 */
.pp_social {
		display: None;
}

/** Slideshow
 */

.slideshow {
		width: 940px;
		height: 400px;
		overflow: hidden;
		margin-top: -470px;
		background-color: black;
		position: absolute;
}

.slideshow-shadow {
		background: transparent url('../images/showcase_shadow.png') top left no-repeat;
		height: 144px;
		width: 1068px;
		margin: 0 auto;
}

.slideshow .caption {
		position: absolute;
		margin-left: 50px;
		margin-top: 50px;
		padding: 10px 20px;
		color: #f8f8f8;
		background-color: #101010;
		opacity: 0.8;
}

.slideshow .caption h3 {
		color: #f8f8f8;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 22px;
		margin: 0;
		padding: 0;
}

.slideshow .caption p {
	font-family: Nobile, Arial, sans-serif;
}

.slideshow .caption a {
		text-decoration: none;
		color: #b0b0b0;
}

.slideshow .caption a:hover {
		color: #ffffff;
}

/** Panel
 */
.panel {
		padding: 1px 0 30px 0;
		display: none;
}

/** Home page
 */
h2.featured-description {
		text-align: center;
		position: absolute;
		margin-top: -40px;
		width: 940px;
}

div.featured-space {
	height: 60px;
}

html > body div.featured-space {
	height: 40px;
}

h2.icon {
		background-position: 0px 5px;
		background-repeat: no-repeat;
		padding-left: 40px;
		line-height: 28px;
		height: 28px;
}
h2.icon-buisness {
		background-image: url('../images/buisness.png');
}
h2.icon-platform {
		background-image: url('../images/platform.png');
}
h2.icon-gpu {
		background-image: url('../images/gpu.png');
}

.features {
		clear: both;
}

.features p {
	margin-top: 40px;
	margin-bottom: -30px;
}

.feature-item {
		width: 300px;
		line-height: 180%;
		float: left;
		margin-right: 20px;
}

.feature-item.item-2-col {
		width: 610px;
}

.feature-item.last {
		margin-right: 0px;
}

/** Galery page
 */
.gallery h3 {
		margin: 0px;
		padding: 5px 0 0 0;
		font-size: 20px;
}

.gallery p {
		margin: 5px 0 10px 0;
}

.gallery-item {
		margin-right: 50px;
		width: 445px;
		float: left;
}

.gallery-item.right {
		margin-right: 0px;
}

.gallery-clear {
		clear: left;
		height: 40px;
}

/** Python highlight
 */
	
.highlight pre {
  background-color: #f0f0f0;
	border: 1px solid #c2c2c2;
	padding: 10px;
	font-size: 14px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

.highlight .k,
.highlight .kn {
	font-weight: bold;
}

.highlight .nc,
.highlight .nf {
	color: #af5600;
	color: #db6500;
}

/** Downloads
 */
table.downloads {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

table.downloads td,
table.downloads th {
	text-align: left;
	padding: 15px 20px;
	border-bottom: 1px solid #ccc;
}

table.downloads img {
	vertical-align: middle;
}

table.downloads th {
	background-color: #e0e0e0;
}

table.downloads tr.selected td {
	background-color: #f0f0f0;
}

table.downloads tr th.os {
	width: 250px;
}

/** About
 */

.clear {
	clear: left;
}

.devprofile {
	float: left;
	font-size: 12px;
	display: block;
	width: 200px;
	min-height: 210px;
	padding: 10px;
	margin: 20px 40px;
	border: 1px solid #ccc;
}

.devprofile .social,
.devprofile .name {
	display: block;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.devprofile .name {
	font-size: 18px;
}

.devprofile .social {
	margin-top: 5px;
}

.devprofile a {
	color: #ef7600;
	text-decoration: none;
}

.devpic {
	float: left;
	margin-right: 10px;
	height: 80px;
}

dl.aboutus,
dl.aboutus dd {
	list-style-type: none;
}

dl.aboutus dt {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #333;
}

dl.aboutus dd {
	margin: 0px;
	padding: 0px;
}
ul.devinfo li {
	height: 90px;
}

.devcontact {
	margin-top: 10px;
}

.ircnick {
	font-style: italic;
}

ul.talks li {
	margin-bottom: 10px;
}

.pageright {
	float: left;
	width: 350px;
}

.pageright h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #333;
	margin: 13px 0px;
	padding: 0px;
}

.pageleft {
	width: 550px;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #888888;
}

ul.talks {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.talks li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	padding-left: 70px;
	margin-bottom: 15px;
}

ul.talks li img.preview {
	position: absolute;
	margin-left: -70px;
}

/** IE fixes
 */
body {
	text-align: center;
}

.wrapper {
	text-align: left;
}

/** Changelog
 */
#panel-changelog h3 {
	background-color: #eeeeee;
	border-bottom: 1px solid #cccccc;
	padding: 10px;
}
div.changelog h4 {
	font-size: 20px;
	margin: 10px 0px;
}
div.changelog h5 {
	font-size: 16px;
	margin: 10px 0px;
}

/** Social panel in frontscreen
 */
table.social td {
	width: 90px;
	line-height: 90px;
}

/** Logo panel
 */
table.logolist {
	width: 100%;
}
table.logolist td {
	text-align: center;
}

/** Social toolbar
 */
#social-icons {
	position: absolute;
	top: 10px;
	right: 10px;
}

#social a, #social img {
	border: 0;
}
