{{ if .enable }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <p class="font-secondary lead text-dark">
            {{ with .image_left }}
              <img src="{{ . }}" />
            {{ end }}
            {{.content | markdownify}}
            {{ with .image_right }}
              <img src="{{ . }}" />
            {{ end }}
          </p>
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.btnText}}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}


