<!DOCTYPE html>
<html lang="en">

<head>
    [[ include "components/head.html" ]]
</head>

<body>
    [[ include "components/header.html" ]]
    <div class="bg-[#ffffff]">
        <div class="mt-32 container py-4 px-5 sm:px-10 md:mx-auto">
            <h1 class="text-4xl pb-5">
                About us
            </h1>
            <p class="pb-5 font-light">
                <b>Kivy</b> is a <b>community project</b> led by professional software developers who are responsible
                for <b>developing</b> and <b>supporting</b> Kivy <b>alongside of the community</b>. We also work for
                companies that use <b>Kivy</b> for their <b>professional products</b>.<br><br>
                <b>Many people</b> have <b>contributed</b> to Kivy and <b>we're always interested in growing our
                    community</b>. If you want to <b>help</b> by doing things like <b>writing code, improving documentation or
                    testing</b>, or even if you simply want to <b>make a donation</b>, please do not hesitate to
                    <a class="underline" href="https://kivy.org/doc/stable/contact.html"><b>contact us</b></a>.
            </p>
            <div class="flex flex-wrap">
                <div class="w-full my-3">
                    <p class="text-2xl">
                        Core Developers
                    </p>
                    <div class="flex flex-wrap pr-2">
                        [[ for dev in core_developers: ]]
                        <div class="flex content-center py-2 w-full md:w-1/2 lg:w-1/3">
                            <div class="w-20 flex-shrink-0 p-2">
                                <picture>
                                    [[ if "image_webp" in dev: ]]
                                    <source type="image/webp" srcset="[[ =dev['image_webp'] ]]">
                                    [[ pass ]]
                                    <img src="[[ =dev['image_fallback'] ]]" class="bg-slate-400 h-16 w-16 grow-0 shrink-0 rounded-full object-cover">
                                </picture>
                            </div>
                            <div class="flex flex-col flex-wrap">
                                <a href="" class="text-base w-full">
                                    [[ =dev['name'] ]]
                                </a>
                                <p class="text-xs">
                                    [[ =HTMLWrapper(dev['description']) ]]
                                </p>
                            </div>
                        </div>
                        [[ pass ]]
                    </div>
                </div>
                <div class="w-full my-3">
                    <p class="text-2xl">
                        Talks
                    </p>
                    <div class="flex flex-wrap">
                        [[ for talk in talks: ]]
                        <div class="flex py-1 w-full md:w-1/2 lg:w-1/3">
                            <div class="w-32 bg-slate-400 grow-0 shrink-0 m-2 flex items-center">
                                <img class="w-full h-full rounded-sm object-contain" src="[[ =talk['image'] ]]">
                            </div>
                            <div>
                                <p class="text-base">[[ =talk['title'] ]]</p>
                                <p class="text-xs">Speakers: [[ =", ".join( [ speaker['name'] for speaker in talk['speakers'] ] ) ]]</p>
                                <p class="text-xs">[[ =talk['location'] ]] - <span class="italic">[[ =talk['date']
                                        ]]</span></p>
                                [[ for link in talk['links']: ]]
                                <a class="text-xs pr-1 underline" href="[[ =link['url'] ]]">[[ =link['name'] ]]</a>
                                [[ pass ]]
                            </div>
                        </div>
                        [[ pass ]]
                        <div class="flex flex-wrap py-1 w-full">
                            <div class="w-full flex justify-end">
                                <p class="text-base">You made a talk, but it's not listed here?
                                    <span class="text-sm">
                                        Feel free to <a class="underline"
                                            href="http://www.github.com/kivy/kivy-website">open a PR</a>!
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full my-3">
                    <p class="text-2xl">
                        Contests
                    </p>
                    <div class="flex flex-wrap">
                        <p class="font-light">
                            In order to encourage developers and give them an opportunity to learn more about Kivy, we
                            organized two contests in <a class="underline" href="contest-2012.html">2012</a> and <a
                                class="underline" href="contest-2014.html">2014</a>.<br>
                            With a total of 200+ participants between the two contests, we were able to use their
                            feedback to improve the quality of the documentation and codebase.<br><br>
                            Is a new contest coming soon? Follow us on <a class="underline"
                                href="https://twitter.com/kivyframework">Twitter</a> to keep in touch!
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="mt-2 w-full md:w-1/3 xl:w-1/6 md:px-2">
                    <p class="text-lg">Past core developers</p>
                    <ul class="text-sm list-disc pl-6">
                        <li>Thomas Hansen (hansent)</li>
                        <li>Christopher Denter (dennda)</li>
                        <li>Edwin Marshall (aspidites)</li>
                        <li>Jeff Pittman (geojeff)</li>
                        <li>Brian Knapp (knappador)</li>
                        <li>Ryan Pessa (kived)</li>
                        <li>Ben Rousch (brousch)</li>
                        <li>Jacob Kovac (kovak)</li>
                        <li>Armin Sebastian (dessant)</li>
                        <li>Thomas-Karl Pietrowski (thopiekar)</li>
                        <li>Peter Badida (KeyWeeUsr)</li>
                    </ul>
                </div>
                <div class="mt-2 w-full md:w-1/3 xl:w-1/6 md:px-2">
                    <p class="text-lg">Contributors</p>
                    <ul class="text-sm list-disc pl-6">
                        <li>Terje Skjaeveland (bionoid)</li>
                        <li>George Sebastian (georgs)</li>
                        <li>Gabriel Ortega</li>
                        <li>Arnaud Waels (triselectif)</li>
                        <li>Thomas Hirsch</li>
                        <li>Joakim Gebart</li>
                        <li>Rosemary Sebastian</li>
                        <li>Jonathan Schemoul</li>
                    </ul>
                </div>
                <div class="mt-2 w-full md:w-1/3 xl:w-4/6 md:px-2">
                    <p class="text-lg">Special thanks</p>
                    <ul class="text-sm list-disc pl-6">
                        <li>Mark Hembrow, who was one of our first sponsor, by giving us a Mac Mini. Which was used for
                            all the
                            build system: unit test on Windows / OS X and Ubuntu + building the HTML and PDF
                            documentation.</li>
                        <li>Vincent Autin for his work as a designer for the project, specially on the logo.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    [[ include "components/support_kivy_banner.html" ]]
    [[ include "components/need_help.html" ]]
    [[ include "components/footer.html" ]]
</body>

</html>