<!DOCTYPE html>
<html lang="en">

<head>
    [[ include "components/head.html" ]]
</head>

<body>
    [[ include "components/header.html" ]]
    <div class="bg-[#ffffff]">
        <div class="mt-32 container py-4 px-5 sm:px-10 md:mx-auto">
            <div class="flex flex-wrap">
                <h1 class="w-full text-4xl pb-5">Kivy App Contest 2014</h1>
                <div class="w-full md:w-2/3">
                    <h2 class="text-2xl pb-5">How much Kivy is inside you?</h2>
                    <div class="flex justify-center max-h-96">
                        <img class="object-contain" src="static/images/contest/2/inside.png" />
                    </div>

                    <p class="font-light text-xl mt-2">
                        The Kivy contest #2 2014 is over. Thanks to all the participants we had amazing
                        response with over <b>180</b> unique entries from over <b>56</b> different countries.
                    </p>
                    <p class="font-light mt-5 text-lg">
                        Out of these there were <b>53</b> valid entries that could be scored and used for the
                        contest.
                    </p>

                    <h2 class="font-lightbold text-lg mt-8">The winners are:</h2>

                    <p class="font-light">
                        <b>1st place:</b>
                        <a class="underline" href="https://github.com/valentin12/kivy_frogs">Opolo</a>, by Valentin
                        Pratz
                    </p>

                    <p class="font-light">
                        <b>2nd place:</b>
                        <a class="underline" href="https://github.com/tygart/fourbar">Grashof's condition (fourbar)</a>,
                        by Ken Geronilla
                    </p>

                    <p class="font-light">
                        <b>3rd place:</b>
                        <a class="underline" href="https://github.com/zuo/ArithmeBricks">ArithmeBricks</a>, by Jan
                        Kaliszewski (zuo)
                    </p>

                    <h3 class="font-lightbold text-lg mt-8">Special prize categories</h3>
                    <ul class="font-light">
                        <li><b>Cross platform compatibility:</b>
                            <a class="underline"
                                href="https://github.com/HSA-IMS-Kivy-2/Master_Emergency_Situations">Master_Emergency_Situations</a>,
                            by JHSA-IMS-Kivy-2
                        </li>
                        <li><b>Fun and engagment:</b>
                            <a class="underline" href="https://github.com/metaxnet/kivy">Divide and Conquer</a>, by
                            Metaxnet
                        </li>
                        <li><b>Most polished:</b>
                            <a class="underline" href="https://github.com/remip/symphonium">Symphonium</a>, by Remip
                        </li>
                        <li><b>Technical use of Kivy:</b>
                            <a class="underline" href="https://github.com/Gipzo/kivy-physics-sandbox">Kivy Physics
                                SandBox</a>, by Gipzo
                        </li>
                        <li><b>Best app idea:</b>
                            <a class="underline"
                                href="http://github.com/gromozeka1980/kivy_contest_2014">CatterPillars</a>, by Fuks
                            Michael
                        </li>
                    </ul>

                    <p class="font-light mt-5">
                        Congratulations for everyone who entered in the contest, and thanks a lot to our sponsors.
                    </p>

                    <h2 class="font-lightbold mt-5 text-lg">Here is a list of all the valid submissions:</h2>

                    <div class="flex flex-wrap" id="gallerycontest">
                        [[ for submission in submissions: ]]
                        <div class="w-1/3 md:w-1/5 p-2">
                            <img class="w-full h-48 object-contain bg-slate-100" src="static/images/contest/2/screenshots/[[ =submission['id'] ]].png" />
                            <p class="underline text-sm text-center"><a href="[[ =submission['github'] ]]">[[ =submission['title'] ]]</a></p>
                            <p class="text-xs text-center">[[ =submission['author'] ]]</p>
                        </div>
                        [[ pass ]]
                    </div>

                    <p class="font-light mt-5"><b>Next Step: </b>Prize Delivery.</p>

                    <p class="font-light">If you are one of the lucky few who won one of
                        the prizes above then you will be getting a e-mail from us shortly asking for
                        your shipping address. </p>

                    <p class="font-light mt-2">If you are not one of the lucky winners then don't worry, you still get
                        the kivy t-shirt if you had one of the valid entries listed above. Wait for
                        our e-mail to confirm your shipping address.</p>

                    <p class="font-light mt-1">Don't forget to send us your pics with your prizes and t-shirts.</p>

                    <p class="font-light mt-1 mb-5">This has been an amazing response from the community, folks thanks a lot
                        for
                        your entries and keep the love flowing.</p>
                </div>
                <div class="w-full md:w-1/3">
                    <h3 class="text-3xl pb-5 text-center">Our sponsors</h3>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://www.python.org/psf/">
                            <img class="object-contain object-center h-28 w-4/5"
                                src="static/images/contest/2/psf-logo.png">
                        </a>
                    </div>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://okse.no/en">
                            <img class="object-contain object-center h-28 w-4/5"
                                src="static/images/contest/2/okseno-logo.png">
                        </a>
                    </div>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://fresklabs.com">
                            <img class="object-contain object-center h-28 w-4/5"
                                src="static/images/contest/2/fresk_logo.png" />
                        </a>
                    </div>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://www.jetbrains.com/pycharm/">
                            <img class="object-contain object-center h-28 w-4/5"
                                src="static/images/contest/2/pycharm-logo.png" />
                        </a>
                    </div>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://www.gymglish.com">
                            <img class="object-contain object-center h-28 w-4/5"
                                src="static/images/contest/2/Logo-gymglish.png" />
                        </a>
                    </div>
                    <h3 class="text-3xl pb-5 text-center">Our Media Partners</h3>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://pl.python.org/">
                            <img class="object-contain object-center h-28 w-4/5"
                                src="static/images/contest/2/ppcg_logo.png" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    [[ include "components/footer.html" ]]
</body>

</html>