<!DOCTYPE html>
<html lang="en">

<head>
    [[ include "components/head.html" ]]
</head>

<body>
    [[ include "components/header.html" ]]
    <div class="bg-[#ffffff]">
        <div class="mt-32 container py-4 px-5 sm:px-10 md:mx-auto">
            <div class="flex flex-wrap">
                <h1 class="w-full text-4xl pb-5">Kivy App Contest #1</h1>
                <div class="w-full md:w-2/3">
                    <p class="font-light text-xl mt-2">
                        The Kivy contest #1 is over!
                    </p>
                    <h2 class="font-lightbold text-lg mt-8">The winners are:</h2>

                    <ol class="font-light">
                        <li>
                            <a class="underline" href="https://github.com/stocyr/Deflectouch">Deflectouch</a>, from
                            Cyril Stoller
                        </li>
                        <li>
                            <a class="underline" href="https://github.com/Zogg/FishLife">FishLife</a>, from Zogg
                        </li>
                        <li>
                            <a class="underline" href="https://github.com/niavlys/memoryKivy">memoryKivy</a>, from
                            Niavlys
                        </li>
                        <li>
                            <a class="underline" href="https://github.com/dcower/centripetal">Centripetal</a>, from
                            Dilon Cower
                        </li>
                        <li>
                            <a class="underline" href="https://github.com/wilsaj/flingy">Flingy</a>, from Andy Wilson
                        </li>
                    </ol>
                    <p class="font-light mt-5">
                        Congratulations to everyone who entered the contest, and thanks a lot to our sponsors
                        <a class="underline" href="http://www.notionink.com/">Notionink</a> and <a class="underline"
                            href="https://github.com/plans">Github</a>.
                    </p>
                    <h2 class="font-lightbold mt-5 text-lg">Goals of the Contest</h2>
                    <ul class="font-light list-disc list-inside">
                        <li>
                            Encourage and give you an opportunity to learn more about Kivy.
                        </li>
                        <li>
                            Build some fun and exciting apps that will run on Android, Linux,
                            Windows, OSX (and iOS soon).
                        </li>
                        <li>
                            Show to the world the kind of awesome things that can be built with
                            Kivy in a short amount of time while having fun.
                        </li>
                        <li>
                            Improve Documentation based on participants feedback during contest.
                        </li>
                    </ul>
                    <h2 class="font-lightbold mt-5 text-lg">Important Dates</h2>
                    <ol class="font-light list-disc list-inside">
                        <li>
                            <b>December 24th, 2011: </b> Kivy Programming Contest Announced.
                        </li>
                        <li>
                            <b>January 1st, 2012: </b> Start of Contest, final rules published.
                        </li>
                        <li>
                            <b>January 31st, 2012, 23:59 GMT: </b> Final Registration and submission Deadline.
                        </li>
                        <li>
                            <b>February 5th, 2012: </b> Winners announced!
                        </li>
                    </ol>
                    <h2 class="font-lightbold mt-5 text-lg">Prizes</h2>
                    <ol class="font-light">
                        <li class="pt-2">
                            <b>1st Place</b>
                            <ul class="pl-3 list-disc list-inside">
                                <li> 1 <a href="http://www.notionink.com/techspecs.php">Notionink ADAM tablet (PixelQI Wifi)</a></li>
                                <li>One-year free <a href="https://github.com/plans">Github Bronze subscription</a></li>
                                <li>Github t-shirt</li>
                                <li>Kivy t-shirt</li>
                            </ul>
                        </li>
                        <li class="pt-2">
                            <b>2nd Place</b>
                            <ul class="pl-3 list-disc list-inside">
                                <li> 1 <a href="http://www.notionink.com/techspecs.php">Notionink ADAM tablet (LCD Wifi)</a></li>
                                <li>One year free <a href="https://github.com/plans">Github Bronze subscription</a></li>
                                <li>Github t-shirt</li>
                                <li>Kivy t-shirt</li>
                            </ul>
                        </li>
                        <li class="pt-2">
                            <b>3rd Place</b>
                            <ul class="pl-3 list-disc list-inside">
                                <li> 1 <a href="http://www.notionink.com/techspecs.php">Notionink ADAM tablet (LCD Wifi)</a></li>
                                <li>Github t-shirt</li>
                                <li>Kivy t-shirt</li>
                            </ul>
                        </li>
                        <li class="pt-2">
                            <b>4th Place</b>
                            <ul class="pl-3 list-disc list-inside">
                                <li>Github t-shirt</li>
                                <li>Kivy t-shirt</li>
                            </ul>
                        </li>
                        <li class="pt-2">
                            <b>5th Place</b>
                            <ul class="pl-3 list-disc list-inside">
                                <li>Github t-shirt</li>
                                <li>Kivy t-shirt</li>
                            </ul>
                        </li>
                        <li class="pt-2">
                            <b>6th - 50th Place</b>
                            <ul class="pl-3 list-disc list-inside">
                                <li>Kivy t-shirt</li>
                            </ul>
                        </li>
                    </ol>

                    <h2 class="font-lightbold mt-5 text-lg">Rules</h2>

                    <ol class="font-light list-disc list-inside">
                        <li>
                            The participant must create a game, solo or multiplayer. Be creative!
                        </li>
                        <li>
                            The participant must licence the game under an OSS licence.
                        </li>
                        <li>
                            The participant must submit the developed Kivy game by uploading
                            it to a Github provided space before the January 31, 2012, 23:59 GMT
                            deadline. (Learn how to
                            <a href="http://help.github.com/set-up-git-redirect">setup Git</a> and
                            <a href="http://help.github.com/create-a-repo/">create a repository for your code</a>.)
                            Don't wait until the deadline to do it!
                        </li>
                        <li>
                            The participant is allowed to use Kivy and standard Python libraries.
                            Usage of pure Python libraries is tolerated, so long as they will
                            embed within the application.
                        </li>
                        <li>
                            The participant must respect the <a
                                href="http://kivy.org/docs/guide/quickstart.html#create-an-application">application
                                layout</a> defined in the Kivy documentation.<br />
                            The game must run on the latest Kivy (1.0.9) with the command
                            "<code>python main.py</code>"
                        </li>
                        <li>
                            Use of external libraries via <code>ctypes</code>, compiled extensions, or
                            specific OS code is <u>forbidden</u>.
                        </li>
                        <li>
                            Use of custom OpenGL is not allowed. Your application must be
                            compatible with OpenGL ES 2.0.
                        </li>
                        <li>
                            The game should be tested beforehand. A failure to start will result in
                            negative points.
                        </li>
                        <li>
                            Any adult or offensive content is <u>forbidden</u>. The game should be for all ages.
                        </li>
                        <li>
                            Entries will be scored and prizes awarded by a panel of judges who are
                            excluded from participating.
                        </li>
                    </ol>

                    <p class="font-lightbold mt-5 text-lg">Every game will be scored on:</p>
                    <ul class="font-light list-disc list-inside">
                        <li>Idea (funny/addictive, originality/uniqueness)</li>
                        <li>Smooth gameplay (stutters, hiccups, game logic)</li>
                        <li>Simplicity / Usability</li>
                        <li>Usage of Kivy logic</li>
                        <li>Production quality (graphics, sound, polish)</li>
                    </ul>
                    <p class="font-light text-sm">Each part will be scored on 20 points, for a total of 100.</p>

                    <h2 class="font-lightbold mt-5 text-lg">Here is a list of all the valid submissions:</h2>

                    <div class="flex flex-wrap" id="gallerycontest">
                        [[ for submission in submissions: ]]
                        <div class="w-1/3 md:w-1/5 p-2">
                            <img class="w-full h-48 object-contain bg-slate-100"
                                src="static/images/contest/1/screenshots/[[ =submission['id'] ]].jpg" />
                            <p class="underline text-sm text-center"><a
                                    href="https://github.com/[[ =submission['github'] ]]">[[ =submission['title'] ]]</a>
                            </p>
                            <p class="text-xs text-center">[[ =submission['author'] ]]</p>
                        </div>
                        [[ pass ]]
                    </div>
                </div>
                <div class="w-full md:w-1/3">
                    <h3 class="text-3xl pb-5 text-center">Our sponsors</h3>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://www.notionink.com">
                            <img class="object-contain object-center w-2/5" src="static/images/contest/1/notionink.png">
                            <p class="text-xs font-thin p-5">Notion Ink is the rebellion in you! It's your firm doing
                                what you wanted to do. It is dissolving the emptiness which otherwise fills up our
                                lives. It is the guilt in you which says, let's realize our dreams. Technically an
                                upcoming OEM, but philosophically, we are designers who hack engineering, just like you!
                            </p>
                        </a>
                    </div>
                    <div class="py-4">
                        <a class="flex justify-center" href="http://github.com">
                            <img class="object-contain object-center w-2/5"
                                src="static/images/contest/1/github-logo.png">
                            <p class="text-xs font-thin p-5">Github is a web-based hosting service for software
                                development projects that use the Git revision control system. Github offers both
                                commercial plans and free accounts for open source projects.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    [[ include "components/footer.html" ]]
</body>

</html>