<!DOCTYPE html>
<html lang="en">

<head>
    [[ include "components/head.html" ]]
</head>

<body>
    [[ include "components/header.html" ]]
    <div class="bg-[#ffffff]">
        <div class="mt-32 container py-4 px-5 sm:px-10 md:mx-auto">
            <h1 class="text-4xl pb-5">
                Kivy Launcher - Privacy Policy
            </h1>
            <div class="pb-5 font-light">
                <p>
                    Kivy Launcher is an open source app created by the Kivy developers. This SERVICE is provided at no cost
                    and without warranty of any kind, please
                    check the <a class="underline" href="https://github.com/kivy/kivy/blob/master/LICENSE">license</a> for more information.
                </p>

                <h2 class="font-bold text-lg mt-5">Information Collection and Use</h2>

                <p>
                    We do not collect nor use any personal information in the Kivy Launcher. We may receive native crash
                    reports if you decide to submit them using the default method for Android applications.
                </p>

                <h2 class="font-bold text-lg mt-5">Permissions</h2>

                <p>
                    All permissions used in this application allow you, the user, to execute your Python code and test
                    Android's API. We do not use these permissions for other purposes.
                </p>

                <h2 class="font-bold text-lg mt-5">Service Providers</h2>

                <p>
                    No third party has access to any of your information in this application, unless you use such a service
                    in your code.
                </p>
            </div>
        </div>
    </div>
    [[ include "components/footer.html" ]]
</body>

</html>