<div class="bg-[#202326] flex items-center justify-between px-5 h-20 py-5">
    <div class="flex flex-col w-2/3">
        <p class="text-white text-xs sm:text-sm py-1">
            <a href="https://github.com/kivy"><img class="h-3 sm:h-5 inline invert pr-2"
                    src="./static/images/icons/github.svg" />Source
                code hosted on Github</a>
        </p>
        <p class="text-white text-xs sm:text-sm py-1">
            <a href="https://www.kivy.org/docs/contact.html"><img class="h-3 sm:h-5 inline invert pr-2"
                    src="./static/images/icons/envelope.svg" />Contact us</a>
        </p>
    </div>
    <a class="w-1/3 h-full flex justify-end" href="https://m.do.co/c/bba66856dc94" target="_blank">
        <img class="h-full object-contain" src="./static/images/DO_Badge.png" />
    </a>
</div>