<title>[[ =pagetitle ]]</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index, follow" />
<meta name="description" content="Open source Python framework for rapid development of applications
        that make use of innovative user interfaces, such as multi-touch apps." />
<meta name="twitter:site" content="@kivyframework" />
<meta name="google-site-verification" content="kfZL1Qs64GvRmH9L944D8lbmb-aVuSSb-toeOEGTxPY" />

<meta property="og:title" content="Kivy: Cross-platform Python Framework for NUI" />
<meta property="og:description" content="Open source Python framework for rapid development of applications
        that make use of innovative user interfaces, such as multi-touch apps." />
<meta property="og:url" content="https://www.kivy.org/" />
<meta property="og:image" content="https://www.kivy.org/static/images/kivy-colorwheel-examples.jpg" />
<meta property="og:locale" content="en_US" />

<link rel="icon" href="./static/images/favicon.png" type="image/png" />
<link rel="shortcut icon" href="./static/images/favicon.ico" />
<link rel="stylesheet" href="./static/css/main.css?v=[[ =build_uuid ]]" type="text/css" media="screen" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />