<div class="bg-[#e9e9e9] flex flex-wrap">
    <div class="w-full sm:w-1/3">
        <picture>
            <source type="image/webp" srcset="./static/images/help.webp">
            <img src="./static/images/help.jpg" class="object-cover h-40 sm:h-80 w-full">
        </picture>
    </div>
    <div class="w-full sm:w-2/3 py-8">
        <p class="text-3xl md:text-4xl font-light text-center pb-1">
            <b>Need help?</b>
        </p>
        <p class="text-lg md:text-xl font-light text-center pb-5">
            The Kivy community will love ❤️ to help.
        </p>
        <div class="flex flex-wrap justify-center">
            <a href="https://chat.kivy.org"
                class="m-4 flex w-full md:w-1/2 justify-center items-center text-center rounded-lg p-4 bg-[#7289DA] text-xl text-white">
                <span class="px-2">Join us on Discord</span>
                <img class="invert h-8" src="./static/images/icons/discord.svg" />
            </a>
            <a href="https://groups.google.com/g/kivy-users"
                class="m-4 flex w-full md:w-1/2 justify-center items-center text-center rounded-lg p-4 bg-amber-400 text-xl text-black">
                <span class="px-2">Join us on kivy-users group</span>
                <img class="h-8" src="./static/images/icons/envelope.svg" />
            </a>
        </div>

    </div>
</div>