@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('nobile.ttf') format('truetype');
}

body { 
    margin: 0;
    padding: 0; 
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: .9em;
    background-color: #fcfaf0;
    color: #2a2522;
}

a {
	outline: 0;
}

a img {
	border: none;
}

#logo,
#menu,
#wrapper {
    width: 760px;
	margin: 0 auto;
}

#logo a {
	position: absolute;
	margin-top: 8px;
}

/** Header
 */
#topbar {
	position: fixed;
	height: 160px;
	width: 100%;
	top: 0px;
	z-index: 2;
    background: #fcfaf0 url('background.png') top left repeat-x;
}

#topbar a img {
	border: none;
}

/** Menu
 */

#menu {
	line-height: 33px;
	margin-top: 119px;
}

/** Content
 */

h2 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

/* Navigation
 */

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
	margin-left: 5px;
}

ul.navigation li a {
	float: left;
    margin-right: 20px;
	outline: 0;
	font-size: 13px;
}

a.logo img {
	float: left;
	border: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

a {
	color: #0065b0;
}

ul.navigation li a {
	color: #adaba8;
	text-decoration: none;
}

ul.navigation li a.selected,
ul.navigation li a:hover {
	background: transparent url('highlight.png') center top no-repeat;
	color: #f0f0f0;
}

/** Downloads
 */
ul.platforms {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.platforms li a {
	width: 130px;
	float: left;
	margin-left: 50px;
	margin-bottom: 10px;
	line-height: 40px;
	display: block;
	text-decoration: none;
}

ul.platforms li img {
	vertical-align: middle;
	margin: 0 10px;
}

div.panel {
	padding-top: 180px;
}
