@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('nobile.ttf') format('truetype');
}

body, html {
	height: 100%;
}

body { 
    margin: 0;
    padding: 0; 
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: .9em;
    background: #2a2422 url('background.jpg') center center repeat;
}

#wrapper {
    width: 760px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -380px;
}

.scrollContainer div.panel {
    padding: 20px;
    height: 400px;
    width: 580px;
	background: transparent url('content.png') top left no-repeat;
}

.scroll {
    height: 400px;
    width: 620px;
}

##shade {
	background: transparent url('shade.png') top left no-repeat;
	height: 50px;
	width: 620px;
}

h2 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

#header a img {
	border: none;
}

/* Navigation
 */

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
	margin-left: 5px;
}

ul.navigation li a {
	float: left;
    margin-right: 5px;
	padding: 2px 8px 2px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid transparent;
	outline: 0;
	font-size: 14px;
}

a.logo img {
	float: left;
	border: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

ul.navigation li a {
	color: #6d6b68;
	text-decoration: none;
}

ul.navigation li a.selected,
ul.navigation li a:hover {
	border-bottom: 3px solid #6d6b68;
	color: #e0e0e0;
}

