@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('nobile.ttf') format('truetype');
}

body { 
    margin: 0;
    padding: 0; 
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: .92em;
    background-color: #fcfaf0;
    color: #2a2522;
	text-align: center;
}

a {
	color: #db6500;
	outline: 0;
}

a img {
	border: none;
}

#logo,
#menu,
#wrapper {
    width: 740px;
	margin: 0 auto;
	display: block;
	text-align: left;
}


#logo a {
	position: absolute;
	margin-top: 8px;
}

/** Header
 */
#topbar {
	position: fixed;
	height: 160px;
	width: 100%;
	top: 0px;
	z-index: 1000;
    background: #fcfaf0 url('background.png') top left repeat-x;
}

#topbar a img {
	border: none;
}

/** Menu
 */

#menu {
	line-height: 33px;
	margin-top: 119px;
}

/** Content
 */

h2 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

/* Navigation
 */

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
	margin-left: 5px;
}

ul.navigation li {
	float: left;
}

ul.navigation li a {
	float: left;
    margin-right: 20px;
	outline: 0;
	font-size: 13px;
}

ul.navigation li a {
	color: #adaba8;
	text-decoration: none;
}

ul.navigation li a.selected,
ul.navigation li a:hover {
	background: transparent url('highlight.png') center top no-repeat;
	color: #f0f0f0;
}

/** Downloads
 */
ul.platforms {
	list-style: none;
	margin-top: 40px;
	padding: 0;
	width: 150px;
	height: 180px;
	display: block;
}

ul.platforms li {
	width: 150px;
	float: left;
	line-height: 40px;
	display: block;
	text-decoration: none;
    color: #fcfaf0;
    background-color: #2a2522;
	cursor: pointer;
}

ul.platforms li.first {
	border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-radius-topleft: 15px;
}

ul.platforms li.selected {
	background-color: #4a4542;
}

ul.platforms li img {
	vertical-align: middle;
	margin: 0 10px;
}

#platforms .contentwrapper {
	height: 160px;
	margin-left: 150px;
	margin-top: -194px;
	float: left;
	width: 570px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-topright: 15px;
    background-color: #dcdad0;
}

#platforms .platform-content {
	padding: 10px 10px;
}

#platforms .platform-content ul {
	margin: 0px !important;
	padding-left: 20px;
}

div.panel {
    text-align: justify;
	padding-top: 180px;
}

/** Highlight
 */

.highlight pre {
    background-color: #eceae0;
	padding: 10px;
	font-size: 14px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

.highlight .k,
.highlight .kn {
	font-weight: bold;
}

.highlight .nc,
.highlight .nf {
	color: #af5600;
	color: #db6500;
}

/** Slides
 */
#slides {
	width: 877px;
	height: 373px;
	padding: 18px 85px 0px 85px;
	background: transparent url('slide-frame.png') 0px 0px no-repeat;
	margin-left: -70px;
}

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:709px;
	height:309px;
	overflow:hidden;
	position:relative;
}

#slides .next {
	left:585px;
}

.caption {
	z-index:50000;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:585px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

.caption a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.pagination {
	margin:26px 285px 0;
	width:100px;
	list-style: none;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}


/** About US
 */
.devprofile {
	float: left;
	font-size: 12px;
	display: block;
	width: 200px;
	height: 220px;
	background: red;
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
    color: #fcfaf0;
    background-color: #2a2522;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

.devdesc {
    clear: left;
}

.devprofile .social,
.devprofile .name {
	display: block;
	text-align: center;
}

.devprofile .name {
	font-size: 18px;
}

.devprofile .social {
	margin-top: 5px;
}

.devprofile a {
	color: #ef7600;
	text-decoration: none;
}

.devpic {
	float: left;
	margin-right: 10px;
}

.devcontact {
	margin-top: 10px;
}

.ircnick {
	font-style: italic;
}

/** Footer
 */
#footer {
	margin: 20px auto;
	text-align: center;
	font-size: 10px;
	border-top: 1px dotted #dad5d2;
	padding-top: 10px;
}

#footer p {
	margin: 0px;
    color: #8a8582;
}

/** QRCode
 */
.qrcode {
	width: 125px;
	height: 125px;
	float: left;
	margin-right: 10px;
}

/** Notice text
 */
.notice {
	font-size: 90%;
}

.nomargin {
	margin: 0;
}

.clear {
	clear: both;
}
